<mat-toolbar class="footer">
  <span></span>

  <!-- Ícones sociais -->
  <span class="social-icons">
    <a href="https://www.linkedin.com/in/thallyson-cachione-131976300/" target="_blank" class="linkedin-icon">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://www.instagram.com/thallyson.cachione" target="_blank" class="instagram-icon">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://github.com/Devthallyson" target="_blank" class="github-icon">
      <i class="fab fa-github"></i>
    </a>
  </span>
</mat-toolbar>
